<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Забыли пароль?</p>
    <p>Мы получили запрос о сбросе пароля для вашего аккаунта</p>
    <br />

    <p>Для того, чтобы сбросить пароль перейдите по ссылке:</p>
    <a href="https://{{link}}">{{link}}</a>
  </body>
</html>